{% extends "base.html" %}

{% block page__title %}
    Login Page
{% endblock page__title %}


{% block body %}
    <h2>Giris</h2>
<div class="login_design">
    <form method="post">
        {% csrf_token %}
        <div class="login-page">
            <label for="{{form.username.id_for_label}}">Enter username</label>
            {{form.username}}
        </div>
        <div class="login-page">
            <label for="{{form.password.id_for_label}}">Enter password</label>
            {{form.password}}
        </div>
        
        <button>Log In</button>
    </form>
    <p>Don't have an account yet? <a href="{% url 'account:register' %}">Register</a></p>
</div>

{% endblock body %}
    