* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: aqua;
    color: black;
    margin: 20px;
}

h2 {
    text-align: center;
}

.movies_div {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
}

.movies_div ul {
    display: flex;
    padding: 40px;
    gap: 50px;
}

.movies_div ul li {
    border: 1px solid black;
    padding: 20px
}

/* Dropdown */
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    color: black;
    cursor: pointer;
}

.dropdown i {
    font-size: 14px !important;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    font-size: 16px !important;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

